<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>お見積り情報入力</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
          href="http://fonts.googleapis.com/css?family=Exo:900"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>

<body>
<nav th:insert="header.html :: header"></nav>
<div class="container">
    <form th:action="@{/result1}" th:object="${userOrderForm}" class="form-horizontal" method="post">
        <h1>お見積り情報入力</h1>
        <div class="col-sm-12">
            <fieldset>
                <legend>お引越し住所情報</legend>
                <div style="float:left;" class="form-group">
                    <label for="oldPrefectureId">転居元住所（都道府県）</label>
                    <select id="oldPrefectureId" name="oldPrefectureId" class="form-control"style="width: 100%;">
                        <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{oldPrefectureId}">[[${prefecture.prefectureName}]]</option>
                    </select>
                </div>
                <div style="float:left;">
                    <font size="15">　→　</font></div>
                <div style="float:left;" class="form-group">
                    <label for="newPrefectureId">転居先住所（都道府県）</label>
                    <select id="newPrefectureId" name="newPrefectureId" class="form-control"style="width: 100%;">
                        <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{newPrefectureId}">[[${prefecture.prefectureName}]]</option>
                    </select>
                </div>
            </fieldset>
            <div style="clear:both;">
                <font size="5">　　　</font></div>
            <fieldset>
                <legend>荷物情報</legend>
                <div style="float:left;"　class="form-group">
                    <label for="box">段ボールの個数</label>
                    <input type="text" id="box" name="box" th:field="*{box}" class="form-control" value="10"/>
                    <ul th:if="${#fields.hasErrors('box')}">
                        <li class="error-message" th:each="err : ${#fields.errors('box')}" th:text="${err}"></li>
                    </ul>
                </div>
                <div style="float:left;">
                    <font size="15">　　　</font></div>
                <div style="float:left;"　class="form-group">
                    <label for="bed">ベッドの個数</label>
                    <input type="text" id="bed" name="bed" th:field="*{bed}" class="form-control" value="3"/>
                    <ul th:if="${#fields.hasErrors('bed')}">
                        <li class="error-message" th:each="err : ${#fields.errors('bed')}" th:text="${err}"></li>
                    </ul>
                </div>
                <div style="clean:both;">
                    <font size="15">　　　</font></div>
                <div style="float:left;"　class="form-group">
                    <label for="bicycle">自転車の個数</label>
                    <input type="text" id="bicycle" name="bicycle" th:field="*{bicycle}" class="form-control" value="1"/>
                    <ul th:if="${#fields.hasErrors('bicycle')}">
                        <li class="error-message" th:each="err : ${#fields.errors('bicycle')}" th:text="${err}"></li>
                    </ul>
                </div>
                <div style="float:left;">
                    <font size="15">　　　</font></div>
                <div style="float:left;"　class="form-group">
                    <label for="washingMachine">洗濯機の個数</label>
                    <input type="text" id="washingMachine" name="washingMachine" th:field="*{washingMachine}" class="form-control"
                           value="1"/>
                    <ul th:if="${#fields.hasErrors('washingMachine')}">
                        <li class="error-message" th:each="err : ${#fields.errors('washingMachine')}" th:text="${err}"></li>
                    </ul>
                </div>
                <div style="clear:both;"　class="form-group">
                    <label for="washingMachineInstallation">洗濯機の設置工事申し込み</label>
                    <select style="width: 10%" id="washingMachineInstallation" name="washingMachineInstallation" class="form-control" th:field="*{washingMachineInstallation}">
                        <option th:value="false" th:text="なし">なし</option>
                        <option th:value="true" th:text="あり">あり</option>
                    </select>
                </div>
            </fieldset>
            <div style="clear:both
                                   ;">
                <font size="5">　　　</font></div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" name="backToTop" class="btn btn-primary">TOPへ戻る</button>
                    <button type="submit" name="calculation" class="btn btn-primary">確認</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="../js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>